.tooltip {
  position: relative;

  &:hover .tooltip__box {
    opacity: 1;
  }
}

.tooltip__box {
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  background: rgba(black, 0.75);
  color: white;
  font-size: var(--font-size-xs);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--duration-fast) ease;
  display: flex;
  align-items: center;
  gap: var(--space-3);
  height: fit-content;
  min-height: 12px;

  .tooltip--bottom & {
    top: calc(100% + var(--space-4));
  }
}

.tooltip__text {
  color: white;
}

.tooltip__shortcut {
  color: rgba(white, 0.8);
  font-size: var(--font-size-xs);
}
