.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100dvh;
  width: 100dvw;

  &__colorBlocks {
    display: flex;
    width: 100%;
    height: 620px;
    gap: 8px;
  }

  &__inner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 0;
  }
}
